%table.table-fill#search
  %tbody.table-hover
    - @brands.each_slice(4) do |row|
      %tr
      - row.each do |b|
        %td.text-left= link_to b.brand, "/?utf8=✓&search=#{b.brand}"

.home-btn=link_to "HOME", '/'
.countries-btn=link_to "COUNTRIES", '/countries'
.brands-btn=link_to "BRANDS", '/brands'
