%table.table-fill#search
  %tbody.table-hover
    - @countries.each_slice(4) do |row|
      %tr
      - row.each do |c|
        %td.center= link_to c.country, "/?utf8=✓&search=#{c.country}"

.home-btn=link_to "HOME", '/'
.countries-btn=link_to "COUNTRIES", '/countries'
.brands-btn=link_to "BRANDS", '/brands'
